- if github_url.present?
  %li
    = link_to github_url, target: :blank, rel: 'noopener' do
      = icon('fab', 'github')
      %span Github

- if twitter_url.present?
  %li
    = link_to twitter_url, target: :blank, rel: 'noopener' do
      = icon('fab', 'twitter')
      %span Twitter

- if facebook_url.present?
  %li
    = link_to facebook_url, target: :blank, rel: 'noopener' do
      = icon('fab', 'facebook')
      %span Facebook

- if instagram_url.present?
  %li
    = link_to instagram_url, target: :blank, rel: 'noopener' do
      = icon('fab', 'instagram')
      %span Instagram

- if linkedin_url.present?
  %li
    = link_to linkedin_url, target: :blank, rel: 'noopener'  do
      = icon('fab', 'linkedin')
      %span Linkedin

- if youtube_url.present?
  %li
    = link_to youtube_url, target: :blank, rel: 'noopener' do
      = icon('fab', 'youtube')
      %span Youtube

- if google_plus_url.present?
  %li
    = link_to google_plus_url, target: :blank, rel: 'noopener' do
      = icon('fab', 'google-plus')
      %span Google
